.html,
.body {
    font-family: 'Roboto', sans-serif;
}
.h2, h3, h4{
    font-family: 'Roboto', serif;
}
.clearefix{
    width: 100%;
    height: 20px;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px;
    margin-left: 0px;
    width: auto !important;
}


.navbar {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.row {
    text-align: center;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.home_uslugi {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.page-header {
    margin: 0px 0px 0px 0px !important;
    height: auto;
}

.sub_nav {
    height: 60px;
    background-color: #1A237E;
    margin-bottom: 0.5em;
}

.tel,
.adres,
.menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4em !important;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
}

.tel {
    float: left;
}

.glyphicon-phone-alt,
.glyphicon-home {
    vertical-align: baseline;
}

.cleare {
    height: 10px;
    clear: both;
}

.page-header {
    background-color: black;
}



.advantage h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: xx-large !important;
}
.advant{
    padding-bottom: 4em;
}
.advantage h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16pt;

}
.advantage span{
    font-size: 10pt;
}
.advantage p{
    color: #4438f5;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-size: 10pt;
    text-align: right;
    bottom: 10px;
    position: absolute;
    right: 15px;
}
.bord{
    padding: 13px;
    background-color: #6c9ffd;
    margin: 2px;
    height: 140px;
    overflow: hidden;
}
#modal_form_one, #modal_form_to, #modal_form_three, #modal_form_four, #modal_form_five{
 
    border-radius: 10px;    
    background: #4487B2;    
    top: 45%;    
    left: 50%;      
    z-index: 5;
    padding: 15px 0px;
}
#modal_form_one p , #modal_form_to p, #modal_form_three p, #modal_form_four p, #modal_form_five p{
    font-family: 'Roboto', sans-serif;
    color: #ECC25C;
    padding: 20px 50px;
    text-align: justify;
    font-size: 13pt;
}
#modal_form_one h3, #modal_form_to h3, #modal_form_three h3, #modal_form_four h3, #modal_form_five h3{
    color: white;
    text-transform: uppercase;    
    font-family: 'Roboto Condensed', sans-serif;    
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
}
#modal_form_one h5, #modal_form_to h5, #modal_form_three h5, #modal_form_four h5, #modal_form_five h5{
    color: white;
    text-transform: uppercase;    
    font-family: 'Roboto Condensed', sans-serif;    
    font-weight: 500;
    text-align: left;
    font-size: x-large;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: 1em;
    margin-bottom: 0px;
}
#modal_form_one li, #modal_form_to li, #modal_form_three li, #modal_form_four li, #modal_form_five li{
    font-family: 'Roboto', sans-serif;
    color: #ECC25C;
    text-align: justify;
    font-size: 13pt;
    padding-left: 30px;
    list-style-type: disclosure-closed;
}

#modal_form_one ul, #modal_form_to ul, #modal_form_three ul, #modal_form_four ul, #modal_form_five ul{
    margin-left: 30px;
}
#modal_form_one span, #modal_form_to span, #modal_form_three span, #modal_form_four span, #modal_form_five span{
    font-style: italic;
    color: darkorange;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */

#modal_form_one #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fefefe;
    
}
#modal_form_to #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fefefe;
}
#modal_form_three #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fefefe;
}
#modal_form_four #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fefefe;
}



#modal_form_five #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: #fefefe;
}
#overlay_one{
z-index: 3;
    position: fixed;
    background-color: #101011;
    opacity: 0.7;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.bord{
    animation-name: all;
}

.bord:hover{
    border-bottom: 2px solid orangered;
    background-color: #000f60;
    transition-duration: 1.2s;

}
.bord:hover p{
    color: #fff;
}
/* footer*/

.footer {
    width: 100%;
    min-height: 350px;
    background-color: rgba(7, 0, 0, 0.377);
    margin-top: 2em;
}

.footer_smoll_opas {
    background-color: rgba(7, 0, 0, 0.623);
    padding: 20px;
    border-radius: 5%;
}

.footer_smoll_opas h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.footer_smoll_opas p {
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 1.2em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.tel_footer {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2em !important;
}

.foo_roboto {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2em !important;
}


/* footer end*/

.header_with_search{
    background-image: url(../static/img/smartfon_heder.jpg);
    height: 400px;
}
.no-padding{
    padding: 0px !important;  
}
.sub_nav{
    margin-bottom: 0px !important; 
}
.search{
    margin-top: 100px;
}
.quote_in_head{
    background-image: url(../static/img/quote.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1em;
    background-position-y: center;
}
.bc_transparency{
    background-color: #1a237e1a !important; 
    color: white !important;
}
.help_head_h5{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.help_head_li{
    margin-left: 10%;
    margin-right: auto;
}

.help_head_li li{
    color: white;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-size: inherit;
    list-style-type: disclosure-closed;
    text-align: start;
}
#search_form{
    display: inline-flex;
    width: 100%;
}
#sub_search{
    margin-left: 10px;
    background-color: #f5deb300;
    color: #3e6a96;
    border: none;
    font-size: xx-large;
    padding-top: 5px;
}
#sub_search:hover{
    color: #f1f2fbe6;
}

#text-alert{
    color: #fcfcfc;
    text-transform: uppercase;    
    font-family: 'Roboto', sans-serif;  
    font-size: medium !important;
    background-color: #6c9ffd;  
    width: 93%; 
    border-radius: 7px; 
    border: 2px solid #3b6a96; 
    padding: 5px; 
    font-weight: 500;
    margin-top: 100px !important;
}

#alert_count_val {
    color: #de560c;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
    letter-spacing: 1px;
}
.glyphicon-arrow-up{
    color: #de560c;
    font-size:  1.2em;
}

#img_ups{
    width: 50px;
    height: auto;
    float: left;
}

#error_count_val{
    color: #fcfcfc;
    text-transform: uppercase;    
    font-family: 'Roboto', sans-serif;  
    font-size: medium;  
    background-color: #6c9ffd;  
    width: 93%; 
    border-radius: 7px; 
    border: 2px solid #3b6a96; 
    padding-left: 25px;
    padding-top: 15px;; 
    font-weight: 500;
    margin-top: 100px;
}

.form_result_search{
    background-color: #0b1c30 !important;
    height: 100px !important;

}
.search_result{
    width: 94%;
}
.search_result h5{
    font-family: 'Roboto', serif;
    color: whitesmoke;
    font-size: large; 
    margin-bottom: 5px;
    margin-top: 25px;
}

#result_smartfon_search{
    display: flex;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    font-size: inherit;  
    margin-top: 3px; 
    margin-bottom: 3px;
    padding-left: 2%;
}
#result_smartfon_search:hover{
    background-color: #3844bc;
    border-radius: 2px;
    transition: cubic-bezier(.47,0,0,1.8);
    transition-duration: 0s;
    transition-duration: 500ms; 

}

#result_option_right{
    margin-left: 75%;
}

#text_carusel{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: #1a237e;
}
iframe{
    width: 100%;
}

.ca-icon{
    height:200px;
}

.blackout{
    background-color: #1b1f5b !important;
    padding-bottom: 3em;
}
.karta_footer{
    opacity: 0.9;
}
.price_in_pop_block{
    font-family: serif ;
    font-size: medium !important;
    color: #ecc25c;
}
.sale_b_img{
    position: absolute;
    width: 190px;
    height: 150px;
    top: 0px;
}
.medium_skidki{
    width: 20px;
    height: auto;
}

/* Стили модального окна и содержания 
-------------------------------------------------------------------------------*/
 
/* слой затемнения */
 
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* активируем модальное окно */
 
.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */
 
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */
 
.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */
 
.dm-modal {
    display: inline-block;
    padding: 20px;
    max-width: 50em;
    background: #607d8b;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #cfd8dc;
    text-align: left;
}
/* изображения в модальном окне */
 
 

/* рисуем кнопарь закрытия */
 
.close {
    z-index: 9999;
    float: right !important;
    width: 30px;
    height: 30px;
    color: #e12608 !important;
    text-align: center;
    text-decoration: none;
    line-height: 26px !important;
    cursor: pointer;
    opacity: 0.5 !important;
}
.close:after {
    display: block;
    border: 2px solid #cfd8dc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/* кнопка закрытия при наведении */
 
.close:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* движуха при появлении блоков с содержанием */
 
@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}


.uslugi_masterskaya h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.uslugi_masterskaya p {
    color: white;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
}

.uslugi_masterskaya {
    border: solid 1px #939699;
}
.clearfix{
    height: 25px;
}
.card{
    height: 570px;
    padding: 15px;
    background-color: #1b1f5b !important;
    border-radius: 5px;
    margin-bottom:2em;
}
.filter{
    height: 90px;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #1d2162;  /** #f7a211  #dd6a0e **/
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}
.filter h4{
    color: white;
    text-transform: uppercase;
    padding-top: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
#link_other_devise{
    float: right;
    margin-right: 2vh;
}
.btn_filter{
    background-color: aliceblue;
    color: #000000b3;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    font-size: unset;
    font-weight: 700;
}

.btn_filter:hover{
    background-color: #6c9ffd;
    color: #fbfbfb !important;
    transition-duration: 300ms;

}


.title_card{
    color: #fefefe;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    margin-top: 0px;
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 0.2em;
    height: 70px;
    overflow: hidden;
}
.crap_close{
    color: #ff1818 !important;
}
.modal-header{
    background-color: #364f7e;
    color: white;
    font-size: large;
}
.card_thumbnail{
    max-height: 150px !important;
    overflow: hidden;
    margin-bottom: 2em;
}
.info_card{
    text-align: left;
    padding-left: 15px;
}
.star{
    width: 15px;
    height: 15px;
}
.half_star{
    width: 7px;
    overflow: hidden;
    position: absolute;
    margin-left: 0px !important;
}
.half{
    position: relative;
}
.repair_place{
    display: inline-flex;
    width: 100%;
}
.in_sc, .in_home_ok, .product_in_home_now, .in_home_now{
    width: 50%;
    height: 30px;
    text-align: center;
    padding: 5px;
    background-color: #4487B2;
    margin-right: 5px;
    margin-top: 0px !important;
    margin-bottom: 0px;
}

.available_part, .quality_part,
.price_sale,
.time_on_repairs,
.repair_place,
.full_prise{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.available_part span, .quality_part span,
.price_sale span,
.time_on_repairs span,
.repair_place span,
.full_prise span {
    color: #ECC25C;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}
.glyphicon{
    font-family:'Glyphicons Halflings' !important;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-ok{
    color: greenyellow !important;
}
.glyphicon-remove{
    color:#ce2525 !important;
}
.more{

    color: #fcf7f7;
    border: 0px;
    background-color: #186aaa;
    width: 38%;
    height: auto;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 2.5em;
    right: 1.5em;
    font-size: large;
    font-family: 'Roboto', sans-serif;

}
.order{
    color: #fcf7f7;
    border: 0px;
    background-color: #246924;
    width: 38%;
    height: auto;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 2.5em;
    left: 1.5em;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
.glyphicon-shopping-cart{
    margin-right: 5px;
}
.glyphicon-option-horizontal{
    vertical-align: middle;
    margin-left: 5px;
}
.glyphicon-rub{
    margin-left: 2px !important;
}
.full_prise{
    text-align: center;
}
.thumbnail{
    margin-bottom: 0px !important;
}
.available_part{
    height: 215px;
}
.quality_part, .price_sale{
    height: 20px;
}
.time_on_repairs{
    height: 55px;
    overflow: hidden;
}
.full_prise{
    font-size: larger;
}
.flex{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.send_order{
    color: #fcf7f7;
    border: 0px;
    background-color: #246924;
    width: 38%;
    height: auto;
    padding: 7px;
    border-radius: 5px;
    float: right;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
.modal_form_order{
    width: 600px;
}
.form_order{
    text-align: center;
    margin-bottom: 1em;
}
#id_order_option{
    float: right;
    width: 150px;
    color: #0009;
}
#id_order_day{
    float: right;
    width: 150px;
    color: #0009;
}
#id_order_time{
    float: right;
    width: 150px;
    color: #0009;
}
.form_as_div .form_order:nth-child(3){
    width: 90%;
    margin-top: 1.5em;
}
.form_as_div .form_order:nth-child(3) label{
    vertical-align: sub;
}
.form_as_div .form_order:nth-child(4){
    width: 90%;
    margin-top: 1.5em;
}
.form_as_div .form_order:nth-child(4) label{
    vertical-align: sub;
}
.form_as_div .form_order:nth-child(5){
    width: 90%;
    margin-top: 1.5em;
}
.form_as_div .form_order:nth-child(5) label{
    vertical-align: sub;
}
.form_as_div .form_order:nth-child(6){
    margin-top: 2em;
}
.error_block p{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: large !important;
    text-align: center !important;
}
.delivery h5{
    text-align: center !important;
}
.delivery p{
    font-size: small !important;
    padding-top: 5px !important;
    font-family: 'Helvetica' !important;
}

.ca-close{
    top: 5px !important;
    right: 10px !important;
}

.produkt_info_card{
    padding-left: 10%;
    text-align: left;
    
}
.produkt_info_card :first-child{
    margin-top: 0px;
}
.produkt_info_card p {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-top: 1em;
    font-size: initial;
}
.produkt_info_card span {
    color: #ECC25C;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

.product_repair_place{
    display: inline-flex;
    width: 100%;
}
.product_in_sc, .product_in_home_ok{
    width: 50%;
    height: 30px;
    text-align: center;
    padding: 5px;
    background-color: #4487B2;
    margin-right: 5px;
    margin-top: auto !important;
}
.product_order{
    color: #fcf7f7;
    border: 0px;
    background-color: #246924;
    width: 38%;
    height: auto;
    padding: 7px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.in_product_more{
    color: #fcf7f7;
    border: 0px;
    background-color: #186aaa;
    width: 38%;
    height: auto;
    padding: 7px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-right: 3em;
}
.product_btn_group{
    margin-top: 2em;
    text-align: center;
}
.repair_name h2{
    color: #ECC25C;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 0.2em;
    height: auto;
    font-weight: 700;
    margin-top: 1em;
}
.description_card h4{
    color: #ECC25C;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.description_card{
    margin-top: 2em;
    color: ghostwhite;
    text-align: justify;
    padding-left: 10%;
    padding-right: 15px;
}
.bg{
    background-color: #1b1f5b;
    padding: 15px;
    border-radius: 5px;
}
.info_about_service{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b1f5b !important;
    border-radius: 10px;
}
.info_about_service h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0.5em;
    font-size: x-large !important;
    padding-top: 1em;
    padding-bottom: 0em;
}
.dop_info_service{
    padding:15px;
    color: white;
}
.dop_info_service p {
    padding:15px;
    color: #ECC25C;
    font-family: 'Vollkorn', serif;
    font-size: larger;;
    
}

.dop_info_service h4 {
    padding: 15px;
    font-family: 'Vollkorn', serif;
    font-size: x-large;
    margin-bottom: 0px;
}

#karta_footer iframe{
    height: 550px;
}
.filter_small{
    display: none;
}
/* гамбургер*/
/* line 1, C:/Users/Shubham/Desktop/test/sass/app.sass */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* line 7, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line {
  background: #4487B2;
  position: relative;
  z-index: 1000;
  border-radius:3px;
}

/* line 13, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .logo i {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}

/* line 17, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .logo i:hover {
  color: #e74c3c;
  transition: color 0.3s;
}

/* line 24, C:/Users/Shubham/Desktop/test/sass/app.sass */

.hamburger-nav, .hamburger-too

{
    display: inline-flex;
}
.nav_line .main-nav .hamburger-nav::after {
    font-family: fontawesome;
    content: "\f0c9";
    color: #fafafa; 
    font-size: 1.5em;
    cursor: pointer;  
    float: left;
    margin-left: 40%;
}
.hamburger-too::after{
    font-family: fontawesome;
    content: "\f00d" !important;
    color: #fafafa; 
    font-size: 1.5em;
    cursor: pointer;  
    float: left;
    margin-left: 40%;
}

/* line 34, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .main-nav .menu-line {
  display: none;
  list-style: none;
  top: 100%;
  padding-left: 0;
  width: 80%;
}

/* line 42, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .main-nav .menu-line a {
  display: block;
  background: #06578c;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.2);
}

/* line 50, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .main-nav .menu-line:hover {
  background: #06578c;
  transition: background 0.3s ease;
}
.menu-line{
    background: #06578c;    
}

/* line 53, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .main-nav .menu-line a:hover li {
  color: #c0392b;
}

/* line 56, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav_line .main-nav .menu-line a li {
  color: white;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/*# sourceMappingURL=../css/app.map */
.descript{
    vertical-align: unset;
    font-size: large;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 10px;
}
.descript:hover{
    text-decoration: none;
    color: white;
}
.split{
    width: 20px;
}

.ca-close{
    right: 10px !important;
}
.ca-content{
    width: auto !important;
}
.ca-content-text {
    width: 95% !important;
    margin: 10px 20px !important;
    padding: 5px 5px !important;
    line-height: 20px !important;
}
.ca-content-text p {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 10pt !important;
}

.option_info{
    color: #f5f0ee;
    text-align: center;
}