{% load staticfiles i18n %}
    <div class="container">
        <div class="row no-gutter">  
            <div class="footer">                                                                   
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">                                                                          
                    <div class="footer_smoll_opas">
                        <h2>фотоцентр</h2>
                        <P>отправить фото на печать</P>
                        <P>отправить документы на печать</P>
                        <p>детские фото на документы</p>
                        <p>вопросы по сувенирной продукции</p>
                        <p>режим работы фотоцентра</p>

                    </div>
                </div>  
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="footer_smoll_opas">
                        <h2>о нас</h2>
                        <p class="tel_footer"> <span class="glyphicon glyphicon-phone-alt"></span> 903 - 28 - 85</p>
                        <P class="tel_footer"> +7981-150-36-01 </p>
                        <p>Богатырский пр., д.<span class="foo_roboto">36 к.1</span></p>
                        <p>Все официально  > документы</p>
                        <p><span><a><img src="{% static 'img/footer_svg/12.png' %}" alt="" style="width: 30px;height: 30px; margin-right: 10px;"></a></span>
                            <span><a><img src="{% static 'img/footer_svg/13.png' %}" alt="" style="width: 30px;height: 30px; margin-right: 10px;"></a></span>
                            <span><a><img src="{% static 'img/footer_svg/14.png' %}" alt="" style="width: 30px;height: 30px; margin-right: 10px;"></a></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="footer_smoll_opas">
                        <h2>мастерская</h2>
                        <P>задать вопрос специалисту</P>
                        <P>задать вопрос руководству</P>
                        <p>можно ли вызвать на дом</p>
                        <p>скидки и акции</p>
                        <p>режим работы мастерской</p>
                    </div>
                </div>             
            </div>                
        </div>
    </div>            
