<!-- Static navbar -->
{% load staticfiles i18n %}
{% load static %}
    <nav class="cart">
        </div>
        <div id="navbar" class="navbar">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav">
            <li>
                <div class="basket-container">
                    <a href="">Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb">
                        {% if products_total_nmb %}
                            ({{ products_total_nmb }})
                        {% else %}
                            (0)
                        {% endif %}
                    </span></a>
                    <div class="basket-items hidden">
                        <ul class="">
                            {% for product_in_basket in products_in_basket %}
                                <li>
                                    {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.
                                    по {{ product_in_basket.price_per_item }} Руб.
                                    <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                                </li>
                            {% endfor %}
                            <li class="oformlenie_zakaza">
                                <a href="{% url 'checkout'  %}">
                                    Оформить заказ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

          </ul>
    </nav>
